<div class="fluid-container">
  <div class="row mx-auto">
    <div class="col-sm-2">
      <img class="img-fluid" src="https://external-preview.redd.it/-mCh8TnWWFdw3J0C2agfobNgHtjCtPugTCAeGRAEGsg.gif?format=png8&s=2dc35c2e60b420d02e281752168be5d415da4c0e"/>
    </div>
    <div class="col-sm-8">
      <h1>Meet The Developer</h1>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea…</p>
      <button class="btn btn-primary">Learn More</button>
    </div>
  </div>
</div>
