<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 my-auto">
      <img class="img-fluid" src="https://external-preview.redd.it/-mCh8TnWWFdw3J0C2agfobNgHtjCtPugTCAeGRAEGsg.gif?format=png8&s=2dc35c2e60b420d02e281752168be5d415da4c0e"/>
    </div>
    <div class="col-sm-9">
      <h1>Meet The Developer</h1>
      <p>
        Hi there, my name is Isaiah. I'm a full-stack developer currently attending
        community college with plans on obtaining my B.A in computer science as well as cyber security training.
        I am predominantly self-taught, I started programming when I was around fourteen and later on as my interests
        grew I began jumping around between game development, to mobile applications, to desktop software, and finally web development.
        Programming is more than just a hobby for me, it's my passion. I love to create and I look forward to the day where my work,
        my creations help make a difference in the world.
      </p>
      <button class="btn btn-primary btn-lg my-2">Learn More</button>
    </div>
  </div>
</div>
