<footer class="container-fluid page-footer" id="fat-footer">
  <div class="row">
    <div class="col-sm-8 mx-auto">
      <div class="row">
        <div class="col-sm-6 mx-auto">
          <h2>Explore</h2>
          <hr>
          <div class="row">
            <div class="col-sm-6">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Blog</a></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mx-auto">
          <h2>Contact</h2>
          <hr>
          <div class="row">
            <div class="col-sm-4">
              <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">LinkedIn</a></li>
                <li><a href="#">Twitter</a></li>
              </ul>
            </div>
            <div class="col-sm-8">
              <p>Sign up to receive the latest updates on project information and blog posts.</p>
              <input type="email" placeholder="Email Address"/>
              <button class="btn btn-primary" type="submit">Sign Up</button>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</footer>
