<footer class="container-fluid page-footer" id="fat-footer">
  <div class="row">
    <div class="col-sm-1 mx-auto my-5">
      <img src="../../assets/ijLogo.png" width="150" class="fluid-img">
    </div>
    <div class="col-sm-9 mx-auto">
      <div class="row my-3">
        <div class="col-sm-4">
          <h2>Explore</h2>
          <hr>
          <div class="row">
            <div class="col-sm-4">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Blog</a></li>
              </ul>
            </div>
            <div class="col-sm-1">
              <ul>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-8 mx-auto">
          <h2>Contact</h2>
          <hr>
          <div class="row">
            <div class="col-sm-4">
              <ul>
                <li class="fa fa-facebook"><a href="#" class="ml-2">Facebook</a></li>
                <li class="fa fa-instagram"><a href="#" class="ml-2">Instagram</a></li>
                <li class="fa fa-linkedin"><a href="#" class="ml-2">LinkedIn</a></li>
                <li class="fa fa-twitter"><a href="#" class="ml-2">Twitter</a></li>
              </ul>
            </div>
            <div class="col-sm-8">
              <p>Sign up to receive the latest updates on project information and blog posts.</p>
              <div class="input-group">
                <input type="email" class="form-control" placeholder="Email Address" style="border-radius:0;"/>
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">Sign Up</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <p class="text-center">Copyright © {{year}} by Isaiah Johnson. All rights reserved.</p>
    </div>
  </div>
</footer>
