<footer class="container-fluid page-footer" id="fat-footer">
  <div class="row">
    <div class="col-sm-9 mx-auto">
      <div class="row my-3">
        <div class="col-sm-4">
          <h2>Explore</h2>
          <hr>
          <div class="row">
            <div class="col-sm-6">
              <ul>
                <li> <a routerLink="" routerLinkActive="active">Home</a> </li>
                <li> <a routerLink="/about" routerLinkActive="active">About</a> </li>
                <li> <a routerLink="/projects" routerLinkActive="active">Projects</a> </li>
                <li> <a routerLink="/blog" routerLinkActive="active">Blog</a> </li>
              </ul>
            </div>
            <div class="col-sm-1">
              <ul>
                <li> <a routerLink="/contact" routerLinkActive="active">Contact</a> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-8 mx-auto">
          <h2>Contact</h2>
          <hr>
          <div class="row">
            <div class="col-sm-4">
              <ul>
                <li class="fa fa-github"><a href="https://github.com/ambrossRake/" class="ml-2">Github</a></li>
                <li class="fa fa-linkedin"><a href="https://www.linkedin.com/in/isaiah-johnson-a8b744171" class="ml-2">LinkedIn</a></li>
                <li class="fa fa-instagram"><a href="https://www.instagram.com/ambross.r/" class="ml-2">Instagram</a></li>
                <li class="fa fa-stack-overflow"><a href="#" class="ml-2">StackOverflow</a></li>
              </ul>
            </div>
            <div class="col-sm-8">
              <p>Sign up to receive the latest updates on project information and blog posts.</p>
              <div class="input-group">
                <input type="email" class="form-control" placeholder="Email Address" style="border-radius:0;"/>
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">Sign Up</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <p class="text-center">Copyright © {{year}} by Isaiah Johnson. All rights reserved.</p>
    </div>
  </div>
</footer>
